target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### disabilito momentaneamente ###
/bug-tracker/

### dipendenze js ###
/js-scripts/node_modules

# Default ignored files
/python-scripts/shelf/
/python-scripts/workspace.xml
# Editor-based HTTP Client requests
/python-scripts/httpRequests/
# Datasource local storage ignored files
/python-scripts/dataSources/
/python-scripts/dataSources.local.xml

# JSON inutili
/python-scripts/src/filtered_commits_list.json
/python-scripts/src/ordered_filtered_commits_list.json
/python-scripts/src/the_10.json


#non tracciare le risorse/appunti .txt
progetto.txt

#non tracciare la repo da analizzare
/python-scripts/resources/godot/
